[Unit]
Description=Bass Loop (ALSA, no restart)
After=sound.target
Wants=sound.target

[Service]
Type=simple
ExecStart=/usr/bin/play -q /home/pi/loop.wav repeat -
User=pi
Group=pi
StandardOutput=null
StandardError=null


# No restart — intentional
Restart=no

# Allow clean stop
KillSignal=SIGTERM
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
